<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TPCommunity"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activites.BoardDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activites.PlaceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activites.BoardWriteImgDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activites.BoardWriteActivity"
            android:exported="false" />
        <activity
            android:name=".activites.Signup2Activity"
            android:exported="false" />
        <activity
            android:name=".activites.EmailLoginActivity"
            android:exported="false" />
        <activity
            android:name=".activites.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activites.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activites.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.MainActivity"
            android:exported="false" /> <!-- 카카오 로그인 리다이렉트 화면 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_native_app_key" />
            </intent-filter>
        </activity> <!-- 카카오 지도 네이티브 앱키 등록 -->
        <meta-data
            android:name="com.kakao.vectormap.APP_KEY"
            android:value="@string/kakao_native_app_key2" />
    </application>

</manifest>